*{
    font-family: 'Roboto', 'sans serif';
    
}

.column{
    width: 100%;
}

@media(min-with:600px){
    *{
        flex-wrap: nowrap;
    }
}

header{
    width: 100%;
    height: auto;
    background: #009929;
    color: #ffff;
    text-align: center;
}

header .nav{
    margin: auto;
    padding: auto;
    display: flex;
    text-decoration: none;
}

header a{
    padding: 12px;
    color: #fff;
    /*background: #98ff96;*/
}

header a:hover{
    /*background: #003400;*/
    border: 1px solid #ffff;
    color: #fff;
    border-radius: 21px;
}

.foto{
    display: flex;
    width: 100%;
    height: auto;
}

.foto img{
    width: 33.3%;
}


.info img{
   display: block;
   width: 3.33;
   margin: auto;
}